<!-- ユーザ情報  -->
<div class="profile_image"></div>
<h2 class="user_name"><%= current_user %></h2>
<div class="button_follow">
<button class="btn btn-primary btn-block">フォローする</button> <!-- テストボタン用 -->
</div>
