
<!-- ユーザ情報  -->
<div class="profile_image"><img class="mr-2 rounded" src="<%= gravatar_url(user, { size: 350 }) %>" alt=""></div>
<h2 class="user_name"><%= user.name %></h2>
<div class="button_follow">
  <%= render 'relationships/follow_button', user: user %>
  <%= render 'layouts/flash_messages' %>
</div>
