<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="title">
            <h1 class="text-warning">DopeArtWorks</h1>
            <p class="text-white">お気に入りのアルバム、EP、シングルのアートワークを共有しよう</p>
        </div>
    </div>
</div>
