<div class="posts bg-warning">TEST</div>
<div class="posts bg-success">TEST</div>
<div class="posts bg-warning">TEST</div>
<div class="posts bg-warning">TEST</div>
<div class="posts bg-success">TEST</div>
<div class="posts bg-warning">TEST</div>
<div class="posts bg-success">TEST</div>
<div class="posts bg-warning">TEST</div>