
<div class="row">
  <div class="col-sm-12">
    <%= form_with(model: @post, local: true) do |f| %>
      
      <div class="form-group">
        <p class="text-white">アートワーク名（12文字まで）</p>
        <%= f.text_area :content, class: 'form-control', rows: 1 %>
        <p class="text-white"><br>画像を選択</p>
        <%= f.file_field :image %>
      </div>
      <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
